@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,500&family=Josefin+Sans:ital@1&display=swap');


*{
    
    font-family: 'Josefin Sans', sans-serif;
    --main-color: #3498db;
    
}

body{
    background-color: #00539C;
}

.container{
    width: 100%;
    margin: 12rem auto ;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* SUBMIT BUTTON */
.submit{
    padding: 10px 15px;
    border-radius: 5px;
    font-family: 'Fira Sans', sans-serif;
    background-color: var(--main-color);
    color: rgb(238, 236, 236);
    outline: none;
    border: transparent;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

}

.submit:hover{
    transform: scale(1.5) translateY(-7%);
    transition: all ease .5s;

}


/* Dialog-Box CSS */
.dialog{
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    width: 350px;
    background: #EEA47F;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    
    transition :transform 0.4s, top 0.4s;
    padding: 0 25px 25px;
    position: absolute;
    visibility: hidden;
}

.open-popup{

    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);

}

#conform{
    padding: 10px 0;
    margin-top: 10px;
    border-radius: 25px;
    background-color: var(--main-color);
    color: rgb(238, 236, 236);
    outline: none;
    border: transparent;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);

    

}

#conform:hover{
    filter: brightness(.9);
    background-color: #2980b9;
    transform: scale(1.05);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


